@import '~normalize.css';
@import './global/css-reset.scss';

* {
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: #131526;
  background-image: url(../asset/images/background-complete.png);
}
