
@font-face {
  font-family: 'BrandonGrotesque-Black';
  src: url('../asset/fonts/BrandonGrotesque-Black/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),  url('../asset/fonts/BrandonGrotesque-Black/BrandonGrotesque-Black.otf')  format('opentype'),
	     url('../asset/fonts/BrandonGrotesque-Black/BrandonGrotesque-Black.woff') format('woff'), url('../asset/fonts/BrandonGrotesque-Black/BrandonGrotesque-Black.ttf')  format('truetype'), url('../asset/fonts/BrandonGrotesque-Black/BrandonGrotesque-Black.svg#BrandonGrotesque-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('../asset/fonts/BrandonGrotesque-Regular/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),  url('../asset/fonts/BrandonGrotesque-Regular/BrandonGrotesque-Regular.otf')  format('opentype'),
	     url('../asset/fonts/BrandonGrotesque-Regular/BrandonGrotesque-Regular.woff') format('woff'), url('../asset/fonts/BrandonGrotesque-Regular/BrandonGrotesque-Regular.ttf')  format('truetype'), url('../asset/fonts/BrandonGrotesque-Regular/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
