@mixin row() {
  font-size: 0;
}

@mixin grid($nr-of-cols, $gap-percentage) {
    width: percentage(1-($nr-of-cols*$gap-percentage/100)/$nr-of-cols);
    align: top;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    padding: 40px percentage($gap-percentage/200);
    // @media only screen and (min-width: 768px) {
    //     width: percentage(100/$nr-of-cols);
    //     vertical-align: top;
    // }
}
