@mixin row() {
    display: block;
    // font-size: 0;
}

@mixin grid($nr-of-cols) {
    // display: inline-block //or inline-flex
    box-sizing: border-box;
    width: percentage($nr-of-cols/12);
    padding: $grid-gap;
    // align: top;

    // @media only screen and (min-width: 768px) {
    //     width: percentage(100/$nr-of-cols);
    //     vertical-align: top;
    // }
}
