$primary-color: #ffffff;
$secondary-color: #4e5169;

// $font-text: 'Helvetica', 'Arial';
// $font-header: "Arial Black", Gadget, sans-serif;

$gutter: 2%;
$fixed-gutter: 15px;
$norm-screen-width: 1200px;
